name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
          cache: sbt

      - name: Build and test
        run: sbt test it:test
